body {
  background-color: rgba(255, 255, 255, 0);
  font-family: Exo, sans-serif;
  color: black;
  font-size: 14px;
  line-height: 20px;
}
h1 {
  margin-top: 20px;
  margin-right: 0px;
  margin-bottom: 10px;
  padding-right: 0px;
  float: left;
  font-size: 23px;
  line-height: 44px;
  font-weight: 700;
}
h2 {
  margin-top: -2px;
  margin-bottom: 10px;
  font-family: Exo, sans-serif;
  color: #c74f40;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
}
h3 {
  margin-top: 20px;
  margin-bottom: 10px;
  float: left;
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
}
h4 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
}
h5 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
}
h6 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 12px;
  line-height: 18px;
  font-weight: 700;
}
p {
  width: auto;
  margin-bottom: 0px;
  padding-bottom: 0px;
  float: left;
}
.button {
  display: inline-block;
  padding: 4px 15px;
  float: left;
  background-color: #575557;
  color: white;
  text-align: center;
  text-decoration: none;
}
.button.bottom2 {
  float: right;
  background-color: #4c3c54;
  font-family: Exo, sans-serif;
  font-weight: 700;
}
.button.bottom1 {
  background-color: #4c3c54;
  font-family: Exo, sans-serif;
  font-weight: 700;
}
.button.hidden_buttom {
  float: right;
}
.button.textbutton {
  float: none;
  background-color: #731273;
}
.button.textbutton.bp1 {
  width: 70%;
  text-align: center;
}
.button.textbutton.bp2 {
  width: 70%;
}
.button.textbutton.bp3 {
  width: 51%;
}
.button.textbutton.bp4 {
  width: 51%;
}
.button.textbutton.bp5 {
  width: 36%;
  padding-right: 26px;
}
.button.labelbutton {
  margin-left: 16px;
  padding-left: 11px;
  font-size: 12px;
}
.button.labelbutton.button5 {
  width: 54%;
}
.button.labelbutton.button4 {
  width: 39%;
}
.button.labelbutton.button3 {
  width: 39%;
}
.button.labelbutton.button2 {
  width: 20%;
}
.button.labelbutton.button1 {
  width: 20%;
}
.paragraph1 {
  position: relative;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  display: inline;
  width: 95px;
  margin: 0px -22px 0px -214px;
  padding: 20px 18px 0px 1px;
  float: left;
  clear: both;
  background-color: white;
  font-family: Exo, sans-serif;
  color: black;
  font-size: 22px;
  font-weight: 700;
  text-align: justify;
}
.paragraph2 {
  margin: -10px 0px 15px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  font-family: Exo, sans-serif;
  color: black;
  font-weight: 700;
  text-align: justify;
}
.ucla_logo {
  position: relative;
  left: 0px;
  top: 0px;
  right: 0px;
  display: block;
  overflow-x: auto;
  overflow-y: auto;
  width: 50px;
  height: auto;
  max-width: 60px;
  margin-right: 72px;
  margin-left: -58px;
  padding: 11px 9px 5px 0px;
  float: left;
  clear: both;
  background-color: transparent;
}
.heading_col_right {
  padding-right: 8px;
}
.mainheading {
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  padding-top: 8px;
  padding-bottom: 12px;
  background-color: rgba(255, 255, 255, 0);
  font-family: Exo, sans-serif;
  color: black;
  font-size: 31px;
  font-weight: 900;
}
.us-map {
  width: 900px;
}
.bubble-chart {
  display: inline;
  width: 450px;
  height: 250px;
  padding-right: 3px;
}
.state-map {
  width: auto;
  height: auto;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 23px;
  padding-bottom: 0px;
  text-align: center;
}
.gap-1 {
  height: 42px;
  margin-bottom: 15px;
  padding-bottom: 0px;
  background-color: white;
  color: white;
}
.gap2 {
  height: 49px;
  padding-top: 0px;
  padding-bottom: 0px;
  background-color: white;
}
.heading_sec {
  overflow-x: hidden;
  overflow-y: hidden;
  margin-bottom: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  background-color: #e3e3e3;
}
.logo-column {
  margin-top: 1px;
  margin-bottom: -5px;
  padding-top: 0px;
  padding-bottom: 0px;
  background-color: white;
}
.head_col_1 {
  display: block;
  height: 30px;
  margin-bottom: 35px;
  padding-top: 0px;
  padding-bottom: 0px;
}
.health_cost_pic {
  width: 360px;
  height: auto;
  margin-right: 0px;
  margin-bottom: 25px;
  margin-left: 0px;
  padding: 12px 0px 0px;
  float: left;
  background-color: transparent;
  opacity: 0.53;
  color: transparent;
}
.gap3 {
  margin-bottom: -30px;
  padding-bottom: 0px;
  background-color: white;
}
.h2_tool {
  padding-top: 106px;
}
.h2_issue {
  margin-top: 15px;
}
.chart1-2_sec {
  display: block;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  background-color: white;
}
.chart3_sec {
  margin-top: -50px;
  padding-top: 0px;
  padding-bottom: 0px;
  background-color: white;
}
.usmap_bottom {
  background-color: #575655;
  color: white;
}
.bottom_cont.bottom1-2 {
  padding-top: 0px;
  padding-bottom: 0px;
}
.bottom_cont.bottom3 {
  padding-top: 0px;
}
.bubblechart {
  width: 800px;
  height: 300px;
  padding-right: 128px;
  padding-left: 0px;
  float: left;
}
.head_column3 {
  display: block;
  margin-bottom: 32px;
  padding-bottom: 0px;
  padding-left: 0px;
}
.title_sec {
  background-color: #e3e3e3;
}
.heading_div {
  position: static;
  overflow-x: visible;
  overflow-y: visible;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
}
.heading_click {
  padding-top: 7px;
  padding-left: 0px;
  float: right;
}
.scrolldown_buttom {
  padding-top: 11px;
  float: right;
  background-color: rgba(255, 255, 255, 0);
}
.google {
  margin-top: 18px;
  margin-right: 6px;
  padding-right: 1px;
  padding-left: 45px;
  float: left;
}
.facebook {
  margin-top: 18px;
  margin-left: -40px;
  padding-right: 0px;
  padding-left: 0px;
  float: left;
}
.tweeter {
  margin-top: 18px;
  margin-left: -120px;
}
.about_sec {
  background-color: #b9d6ed;
}
.datasource {
  float: left;
}
.share {
  float: right;
}
.dropdown_team {
  padding-right: 41px;
  float: right;
  font-family: Exo, sans-serif;
}
.team_text {
  padding-right: 0px;
  padding-left: 50px;
  color: #6992c7;
}
.datadrop {
  font-family: Exo, sans-serif;
  color: #6992c7;
}
.sharedrop {
  margin-right: 0px;
  margin-left: -70px;
  padding-right: 0px;
  padding-left: 0px;
  font-family: Exo, sans-serif;
  color: #6992c7;
}
.teamdrop {
  margin-left: 66px;
  float: none;
  font-family: Exo, sans-serif;
  color: #6992c7;
}
.teamdrop.w--open {
  margin-left: 43px;
}
.black {
  color: black;
}
.data_drop {
  margin-left: 11px;
}
.team_drop {
  padding-left: 92px;
}
.team-text {
  font-family: Exo, sans-serif;
  color: #6992c7;
}
.table_div {
  width: 200px;
  height: 248px;
  border: 1px solid #bdbdbd;
  border-radius: 10px;
  background-color: whitesmoke;
  font-family: Exo, sans-serif;
  font-size: 11px;
  font-weight: 500;
  text-align: left;
}
.top_form {
  width: 200px;
  margin-left: 23px;
  float: left;
  font-family: Exo, sans-serif;
}
.global_tag {
  margin-top: 26px;
  float: left;
  font-family: Exo, sans-serif;
  font-weight: 600;
}
.myform {
  float: left;
}
.form1_div {
  margin-left: 227px;
  padding-left: 58px;
  float: none;
}
.bubble_tag {
  margin-top: 26px;
  margin-left: 150px;
  float: left;
  font-family: Exo, sans-serif;
  font-weight: 600;
}
.radiofield2 {
  float: none;
}
.myform2 {
  width: 205px;
  margin-left: 23px;
  padding-right: 0px;
  padding-left: 0px;
  float: left;
  font-family: Exo, sans-serif;
  font-weight: 400;
}
.col2 {
  padding-top: 65px;
}
.chart12_container {
  padding-left: 0px;
}
html.w-mod-js *[data-ix="display-none-on-load"] {
  display: none;
}
@media (max-width: 991px) {
}